/* Adicione aqui todo o estilo da sua página */
/* Hora de colocar a criatividade em prática! */
@import './global.css';

.header {
    width: 100%;
    height: 90vh;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000010;
}

.header_bar {
    height: 60px;
    border-bottom: 1px solid var(--main-color);
    background-color: rgba(0, 0, 0, 0.404);
}

.header_bar-content {
    max-width: 700px;
}

.header_bar-content h1,
.header_bar-content li,
.header_bar-content ul,
.header_bar-content nav {
    display: inline-block;
}

.header_bar-content h1,
.header_bar-content li {
    position: relative;
    top: 20px;
}

.header_bar-content h1 {
    left: 250px;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--extra-color);
}

.header_bar-content li {
    left: 750px;
    bottom: 20px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--extra-color);
    margin-right: 50px;
}

.header_show {
    width: 100%;
    height: 81vh;
    background-color: rgba(0, 0, 0, 0.473);
}

.header_show-text {
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}

.header_show-text h2 {
    font-weight: 700;
    color: var(--main-color);
    opacity: 60%;
}

.header_show button {
    position: relative;
    top: 60%;
    left: 42%;
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--main-color);
    color: white;
}